{{!-- {{Related Artilces Template: nothing needs to be passed.    }} --}}

<%-- RELATED ARTICLES --%>
<section class="ss-library">
    <div class="row ss-library-content">
        <div class="col-sm-12">
            <%-- Library --%>
            <asp:placeholder id="CategoryUserControl" runat="server"></asp:placeholder>
        </div>
    </div>
</section>

